body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0c0f56;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body h1{
    text-align: center;
}

#divBase{
    margin: 10px;
    width: 70%;
    height: 170px;
    justify-content: center;
    border-radius: 10px;
    background-color: #715fb4;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#divBase p{
    margin: 2px;
    width: fit-content;
}

#divBase input[type="text"]{
    width: 300px;
    height: 20px;
    border: 0px;
    border-radius: 5px;
    padding-left: 10px;
}

input[type="radio"]{
    background-color: #0c0f56;
}

button{
    cursor: pointer;
    width: 40%;
    height: 50px;
    border-radius: 10px;
    border: 0px;
    font-size: 20px;
    font-weight: bold;
    background-color: #584b9d;
    color: white;
    box-shadow: 8px 7px 20px 0px rgb(58, 36, 110);
    margin-top: 5px;
}

button:hover{
    background-color: #362a6e;
}

#container{
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
}

#divDec, #divOctal, #divBin, #divHex{
    margin: 10px;
    width: 95%;
    height: 150px;
    justify-content: center;
    border-radius: 10px;
    background-color: #715fb4;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resultado{
    background-color: #826fc9; 
    border-radius: 5px; padding: 10px; 
    color: rgb(255, 255, 255); 
    width: 80%; 
    height: 35px; 
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}